.flexbox{
	flex-direction: column;
	background: $backgroundGray;

	&__image{
		width: 100%;
		max-width: 500px;
		align-self: center;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	&__content{
		padding: 2rem;
	}

	@media screen and ($tablet) {
		flex-direction: row;

		&__image{
			max-width: 100%;
			margin-top: 0;
			margin-bottom: 0;
			align-self: stretch;
			width: 50%;
		}
		&__content{
			width: 50%;
			padding: 10rem 5rem;
		}
	}

}