.flexbox{
	flex-direction: column;
	background: $backgroundGray;
	&__content{
		padding: 3rem 2rem;
	}

	@media screen and ($bigPhone) {
		flex-direction: row;

		&__image{
			width: 50%;
		}
		&__content{
			width: 50%;
			padding:5rem 3rem 5rem 3rem;
		}
	}

	@media screen and ($tablet) {
		&__content{
			padding: 10rem 5rem;
		}
	}

	@media screen and ($notebook) {
		&__content{
			padding: 12rem 8rem;
		}
	}
}