.link{
	font-family: $font;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 1.4;
	text-decoration: none;
	text-transform: capitalize;

	&:hover{
		opacity: .8;
	}
	
	&--arrow{
		position: relative;

		&::after{
			content: '\003E';
			margin-left: .3rem;
		}
	}
}