.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.flex{
	display: flex;
}
.grid{
	display: grid;
}
.divider{
	height: 2px;
	width: 100%;
	background: $black;
	border-radius: $radius;
	@include margin(5.3rem, 6.2rem)
}