// color palette
$primaryColor:#f7941e;
$backgroundGray:#f1f1f2;
$backgroundWhite:#fafafa;
$backgroundBlack:#231f20;
$white:#ffffff;
$black:#000000;

// font
$font:'Roboto', sans-serif;

//border-radius
$radius:5px;

// box-shadow
$shadow:5px 5px 5px 0 rgba(0,0,0,0.1);

// media queries
$bigPhone:'min-width:600px';
$tablet:'min-width:768px';
$notebook:'min-width:900px';
