@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff") format("woff") url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff") format("woff") url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff") format("woff") url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

h1, h2, h3 {
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

p {
  font-weight: normal;
  color: #000000;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.4;
  text-decoration: none;
  text-transform: capitalize;
}
.link:hover {
  opacity: 0.8;
}
.link--arrow {
  position: relative;
}
.link--arrow::after {
  content: ">";
  margin-left: 0.3rem;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.3;
  font-weight: 300;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 1.7rem 2.5rem;
  border-width: 1px;
  border-style: solid;
  display: block;
  max-width: 200px;
  cursor: pointer;
}
.btn--primary {
  border-color: #f7941e;
  background: #f7941e;
  color: #ffffff;
}
.btn--primary:hover {
  background: transparent;
  color: #f7941e;
}
.btn--primary-outline {
  border-color: #f7941e;
  color: #f7941e;
}
.btn--primary-outline:hover {
  background: #f7941e;
  color: #ffffff;
}
.btn--black {
  border-color: #000000;
  background: #000000;
  color: #ffffff;
}
.btn--black:hover {
  background: transparent;
  color: #000000;
}
.btn--black-outline {
  border-color: #000000;
  color: #000000;
}
.btn--black-outline:hover {
  background: #000000;
  color: #ffffff;
}

.box {
  padding: 1rem;
  max-width: 570px;
  background: #ffffff;
  cursor: pointer;
}
@media screen and (min-width:768px) {
  .box {
    padding: 4.8rem;
  }
}
@media (min-width:900px) {
  .box:hover {
    transition: transform 0.5s;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
  }
}

.flexbox {
  flex-direction: column;
  background: #f1f1f2;
}
.flexbox__content {
  padding: 3rem 2rem;
}
@media screen and (min-width:600px) {
  .flexbox {
    flex-direction: row;
  }
  .flexbox__image {
    width: 50%;
  }
  .flexbox__content {
    width: 50%;
    padding: 5rem 1rem 5rem 3rem;
  }
}
@media screen and (min-width:768px) {
  .flexbox__content {
    padding: 10rem 5rem;
  }
}
@media screen and (min-width:900px) {
  .flexbox__content {
    padding: 12rem 8rem;
  }
}

.top {
  text-align: center;
}
.top__heading {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}
.top__tagline {
  line-height: 1.35;
  font-size: 1.5rem;
}
@media screen and (min-width:768px) {
  .top__heading {
    font-size: 3.2rem;
  }
  .top__tagline {
    font-size: 1.8rem;
  }
}

.hero__content .content__desc {
  font-size: 2rem;
  margin-top: 4.5rem;
  margin-bottom: 5.2rem;
}

.feature__content .content__desc {
  font-size: 2rem;
  margin-top: 2.3rem;
  margin-bottom: 3rem;
}

.cta__content .content__heading {
  font-weight: 700;
}
.cta__content .content__desc {
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.4;
}

.card {
  flex-direction: column;
  max-width: 270px;
  background: #fafafa;
  cursor: pointer;
}
.card__content {
  padding: 2.4rem;
}
.card .content__heading {
  text-transform: capitalize;
  margin-bottom: 7.4rem;
}
.card:hover {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.card .link {
  color: #000000;
}

.post__content .content__heading {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.4;
}
.post__content .content__desc {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.post__content .content__action {
  color: #000000;
}

.post--main {
  display: flex;
  flex-direction: column;
  background: #231f20;
}
.post--main .post__image {
  width: 100%;
  max-width: 400px;
  align-self: center;
  background: #231f20;
  margin-top: 1rem;
}
.post--main .content {
  display: flex;
  flex-direction: column;
  background: #231f20;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6.3rem;
  padding-bottom: 4.9rem;
}
.post--main .content__heading {
  color: #ffffff;
  font-size: 4.8rem;
  margin-top: 2.7rem;
  margin-bottom: 6rem;
}
.post--main .content__desc {
  order: -1;
  font-size: 1.4rem;
  font-weight: 300;
  color: #ffffff;
}
.post--main .content__action {
  line-height: 1.4;
  font-size: 1.8rem;
  font-weight: normal;
  color: #ffffff;
}
@media screen and (min-width:768px) {
  .post--main {
    flex-direction: row;
    background: #ffffff;
    grid-column: 1/3;
  }
  .post--main .post__image {
    align-self: stretch;
    width: 40%;
    margin-top: 0;
  }
  .post--main .content {
    padding-left: 7.8rem;
    padding-right: 8rem;
    flex-grow: 1;
  }
}

.hero__content {
  order: -1;
}
@media screen and (min-width:900px) {
  .hero__content {
    padding: 15rem 12rem 13rem 16rem;
  }
}

@media screen and (min-width:900px) {
  .feature__content {
    padding: 16rem 16rem 10rem 11rem;
  }
}

.cards {
  padding: 0 1rem;
  padding-bottom: 13.7rem;
}
.cards__top {
  margin-top: 9.6rem;
  margin-bottom: 6.4rem;
}
.cards__flex {
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}
.cards .card {
  margin: 0 auto;
}

.cta {
  background: #f7941e;
  padding-top: 8.1rem;
  padding-bottom: 6.9rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cta__flex {
  flex-direction: column;
  justify-content: center;
}
.cta__content {
  margin-bottom: 3rem;
}
.cta .content__heading, .cta .content__desc {
  font-size: 2.8rem;
}
.cta__action {
  flex-direction: column;
  align-self: flex-start;
  gap: 1.6rem;
}
@media (min-width:600px) {
  .cta__flex {
    flex-direction: row;
    justify-content: space-around;
  }
  .cta__content {
    margin-bottom: 0;
  }
  .cta .content__heading, .cta .content__desc {
    font-size: 3.2rem;
  }
}
@media (min-width:768px) {
  .cta__action {
    flex-direction: row;
    align-self: center;
  }
}

.posts__top {
  margin-top: 7.3rem;
  margin-bottom: 8rem;
}
.posts__grid {
  gap: 3rem;
  margin-bottom: 8rem;
}
@media screen and (min-width:768px) {
  .posts__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}