@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Light.woff") format("woff") url("../font/Roboto-Light.woff2") format("woff2"), url("../font/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.woff") format("woff") url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.woff") format("woff") url("../font/Roboto-Medium.woff2") format("woff2"), url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1, h2, h3 {
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 1.4;
}

h3 {
  font-size: 2rem;
}

p {
  font-weight: normal;
  color: #000000;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #000000;
  text-decoration: none;
}
.link:hover {
  color: #4d4d4d;
}
.link--arrow {
  position: relative;
}
.link--arrow::after {
  content: ">";
  margin-left: 0.3rem;
}

.top {
  text-align: center;
}
.top__heading {
  margin-bottom: 2.4rem;
}
.top__tagline {
  line-height: 1.35;
  font-size: 1.8rem;
}